In [1]:
import numpy as np
import pandas as pd

In [2]:
# 67.  realestate
# 季度频率。投资性房地产除以固定资产。

df1 = pd.read_csv('季_资产负债表.csv', usecols=['证券代码', '会计期间', '固定资产净额', '投资性房地产净额', '查询成功'], low_memory=False)
# 确保证券代码为整数类型
df1['证券代码'] = pd.to_numeric(df1['证券代码'], errors='coerce').fillna(0).astype(int)

df1['投资性房地产净额'][df1['查询成功'].astype('bool')] = df1['投资性房地产净额'][df1['查询成功'].astype('bool')].fillna(0)
df1['realestate'] = df1['投资性房地产净额']/df1['固定资产净额'].replace(0, np.nan)
df2 = df1[['证券代码', '会计期间', 'realestate']]
df2.to_csv('季_67.csv', index=False, encoding='utf-8-sig')
df2

C:\Users\dell\AppData\Local\Temp\ipykernel_20172\826150965.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['投资性房地产净额'][df1['查询成功'].astype('bool')] = df1['投资性房地产净额'][df1['查询成功'].astype('bool')].fillna(0)

          证券代码        会计期间  realestate
0            1  2000-03-31         NaN
1            1  2000-06-30         0.0
2            1  2000-09-30         NaN
3            1  2000-12-31         0.0
4            1  2001-03-31         NaN
...        ...         ...         ...
571126  920118  2023-09-30         NaN
571127  920118  2023-12-31         NaN
571128  920118  2024-03-31         NaN
571129  920118  2024-06-30         0.0
571130  920118  2024-09-30         NaN

[571131 rows x 3 columns]