In [3]:
import pandas as pd

In [7]:
df1 = pd.read_csv('月_月收益Beta表(48个月滚动).csv', usecols=['证券代码', '交易月份', '分市场月Beta值'])
df2 = df1.rename(columns={'分市场月Beta值': 'beta'})
df2 = df2.drop_duplicates()
df2['betasq'] = df2['beta']**2
df2.to_csv('月_4_5.csv', index=False, encoding='utf-8-sig')
df2

           证券代码        交易月份     beta    betasq
0             1  2000-01-31  1.04502  1.092067
1             1  2000-02-29  1.03256  1.066180
2             1  2000-03-31  1.03260  1.066263
3             1  2000-04-30  0.74035  0.548118
4             1  2000-05-31  0.75205  0.565579
...         ...         ...      ...       ...
1730585  920118  2024-06-30      NaN       NaN
1730586  920118  2024-07-31      NaN       NaN
1730587  920118  2024-08-31      NaN       NaN
1730588  920118  2024-09-30      NaN       NaN
1730589  920118  2024-10-31      NaN       NaN

[1719162 rows x 4 columns]